@use "@styles/theme/colors";

.textBox {
  border: colors.$input-border;
  padding: 1rem;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 6.2rem;

  &::placeholder {
    color: colors.$placeholder-text;
  }

  &:hover,
  &.is-hovered {
    border: colors.$input-border;
  }

  &:focus {
    border-radius: 3px;
  }
}

.counter {
  margin: 0;
  color: colors.$counter-text;
  font-size: 0.76rem;
}
