@use "@styles/theme/colors";

.textBox {
  border: 0.063rem solid colors.$label-input-border-gray;
  padding: 1rem;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 6.2rem;

  &::placeholder {
    color: colors.$label-input-text-gray;
  }

  &:hover,
  &.is-hovered {
    border: 0.063rem solid colors.$label-input-border-gray;
  }
}

.counter {
  margin: 0;
  color: colors.$label-input-border-gray;
  font-size: 0.76rem;
}
