@use "@styles/theme/colors";

.textBox {
  border: 1px solid colors.$label-input-border-gray;
  padding: 1rem;
  font-size: medium;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100px;

  &::placeholder {
    color: colors.$label-input-text-gray;
  }

  &:hover,
  &.is-hovered {
    border: 1px solid colors.$label-input-border-gray;
  }
}

.contentConteiner {
  margin: 0 0 15px;
}

.counter {
  margin: 0;
}
