@use "@styles/theme/colors";

.gridContainer {
  background-color: colors.$background-form-gray;
  display: grid;
  padding: 15px;
  row-gap: 10px;
  width: 60%;
}

.gridItem {
  height: 119px;
  margin: 0 0 10px;
}

.smallInput {
  display: flex;
  gap: 10px;
}
