$submit-button-green: #007f7f;
$neutral-white: #fff;
$background-form-gray: #efefef;
$button-disabled: #d4d4d4;
$label-input-border-color: #79899a;
$label-input-error-border-red: #d00;
$label-input-border-gray: #79899a;
$label-input-text-gray: #425568;
