$submit-button: #007f7f;
$background-form: #efefef;
$button-disabled: #d4d4d4;
$input-error-border: #d00;
$input-border: 1px solid #79899a;
$placeholder-text: #425568;
$input-focus: #52a3ec;
$counter-text: #79899a;
$optional-input-message: #79899a;
