@use "@styles/theme/colors";

.input {
  border: 1px solid colors.$label-input-border-gray;
  padding: 1rem;
  width: 100%;
  font-size: medium;

  &::placeholder {
    color: colors.$label-input-text-gray;
  }
}
